#   Ignore text files
*.txt
*.dat
*.seg

#   Ignore Python precompiled files
*.pyc

#   Ignore binary files
*.bin

#   Ignore cache files
data_cache/

#   Ignore Temporary files
*.tmp

#   Ignore test files
test_model.py
seg_module_test.py
build_model.py