#   Ignore text files
*.txt
*.dat
*.seg

#   Ignore Python precompiled files
*.pyc

#   Ignore binary files
*.bin

#   Ignore cache files
data_cache/

#   Ignore Temporary files
*.tmp

#   Ignore list file
*.list

#   Ignore TrueType file
*.ttf