@charset "utf-8";

/*
#	mpsk
#	Beijing University of Technology
#	Copyright 2017
*/

/*
doc holder
*/
.doc_holder
{
    position: absolute;
    margin: 20px;
    width: 50%; height: 50%;
}
.input_title{
    margin: 5px;
    width: 90%;
    font-size:1.4em;
    border-radius:4px;
    border:2px solid #525252;
    color:#6a6f77;
}
.input_doc{
    margin: 5px;
    height: 300px;
    width: 90%;
    -web-kit-appearance: none;
    -moz-appearance: none;
    font-size:1.4em;
    border-radius:4px;
    border:2px solid #525252;
    color:#6a6f77;
}
.input_button
{
    margin: 5px;
    width: 180px; height: 70px;
}