<!doctype html>
<!--/*
#	mpsk
#	Beijing University of Technology
#	Copyright 2017
*/
-->
<html>

<head>
	<meta charset="UTF-8">
	<title>地图导航</title>
	<!--部署版本-->
	<style type="text/css" media="screen">@import url("{{ url_for('static', filename='style.css')}}");</style>
	<!--script type='text/javascript' src="{{ url_for('static', filename='guide.js')}}"></script-->
	<script type="application/javascript">
		document.write("<script type='text/javascript' src='" + "{{ url_for('static', filename='main.js')}}" + "?" + Math.floor(Math.random() * 1000000) + "'><" + "/script>");
		document.write("<style type='text/css' media='screen'>@import url(" + "{{ url_for('static', filename='style.css')}}" + "?" + Math.floor(Math.random() * 1000000) + ");</style>"); 
	</script>
</head>

<body>
    <div class="doc_holder">
        <form id="nform" action="/addpoint" method="post">
            <input type="text" class="input_title" name="node_type" id="node_type" value="title">
            <br>
            <input type="text" class="input_doc" name="node_num" id="node_num" value="content">
            <br>
            <input type="button" name="btn_submit" id="btn_submit" value="提交">
            <br>
        </form>
	</div>
</body>

</html>